{% extends 'base.html' %}

{% block title %}Session Details{% endblock %}

{% block content %}
<h2 id="refresh-counter">Time till refresh: -- seconds</h2>
<div class="queue-layout">
    <div class="queue-row">
    <section class="queue-section">
        <h2>Waiting submissions</h2>
        <table class="submission-table">
            <thead>
                <tr>
                    <th>Difficulty</th>
                    <th>Problem</th>
                    <th>User</th>
                    <th>Submitted</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="waiting-submissions">

            </tbody>
        </table>
    </section>

    <section class="queue-section">
        <h2>Recent judged submissions</h2>
        <table class="submission-table">
            <thead>
                <tr>
                    <th>Difficulty</th>
                    <th>Problem</th>
                    <th>User</th>
                    <th>Submitted</th>
                    <th>Verdict</th>
                    <th>Score</th>
                    <th>CPU</th>
                </tr>
            </thead>
            <tbody id="judged-submissions">

            </tbody>
        </table>
    </section>
    </div>

    <section class="queue-section leaderboard-section">
        <h2>Leaderboard</h2>
        <ul id="leaderboard">

        </ul>
    </section>
</div>

<script type="module" src="{{ url_for('static', filename='js/queue.js') }}"></script>
{% endblock %}
